/*------ CSS RESET -------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------ RESET END ------*/

/*Typography */

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4em;
}

code {
    font-size: 0.8em;
    font-family: 'Space Mono', monospace;
    color:#2f3529;
    background-color: rgb(235, 243, 241);
}

pre {
    background-color: rgb(235, 243, 241);
    margin-bottom: 2em;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
}

p {
    font-size: 1em;
    margin-bottom: 1em;
}

ul {
    margin-bottom: 1em;;
}

li {
    list-style-type: circle;
    list-style-position: inside;
}

.section-intro{
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.3em;
}

.navigation li {
    list-style: none;
    margin-bottom: 1.2em;
}

.navigation li a {
    font-weight: 600;
    color:rgb(41, 100, 102);
    text-decoration: none; 
}

.navigation li a:hover {
    color:rgb(24, 60, 65);
    text-decoration: underline; 
}

/* Headers */

h1 {
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 1em;
}

h2 {
    font-size: 2em;
    line-height: 1.2em;
    margin-bottom: 0.5em;
    
}

h3 {
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 1.8em;
}

h4 {
    font-size: 1.4em;
    line-height: 1.2em;
    font-weight: 600;
    margin-bottom: 1em;
}

h5 {
    font-size: 0.8em;
    line-height: 1em;
    font-weight: 600;
    margin-bottom: 3em;
}


/* Layout */
.content {
    display: flex;
    padding: 5vw;
}

nav {
    width: 30%;
    padding-right: 15px;
}

main {
    width: 70%;
}


/* other */

.section-header {
    background-color: rgb(65, 92, 92);
    padding: 1.5em;
    color: rgb(248, 253, 255);
    margin: 5em 0 1em 0;
}

footer {
    padding: 3em;
    text-align: center;
    color:rgb(248, 253, 255);
    background-color: rgb(65, 92, 92);
}

footer a {
    color:rgb(248, 253, 255);
}

footer a:hover {
    font-weight: 600;
}

/* Media queries */

@media only screen and (max-width: 900px)  {

    .content {
        flex-wrap: wrap;
    }
    nav, main {
        width: 100%;
    }

    nav {
        background-color: rgb(248, 253, 255);
        padding:1em;
    }
    .section-header {
        margin-top: 2em;
    }
}